.launch-year-fltr {
    width: 80%;
    margin: auto;
    padding: 5px;
    border-bottom: 1px solid;
    margin-bottom: 15px
}

.filter__years {
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.filter__years_button{
    background-color: #C5E09B;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.filter__years > div:nth-child(even) {
    text-align: right;
}

.filter-applied {
    background-color: #7CBA01;
}